<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonalProjectCre8tfolio</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/PersonalProjectCre8tfolio.styles.css" asp-append-version="true" />

</head>

<body>
    <div class="main-container">
        <div class="sidebar">
                
            <a class="sidebar-brand" asp-area="" asp-controller="Home" asp-action="Login">CRE8TFOLIO</a>
            <ul class="sidebar-nav">
                <li class="nav-item">
                <a class="btn btn-link"  href="@Url.Action("Login", "Home")">Account</a>
                @* <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a> *@
                </li>
                <li class="nav-item">
                    <a class="btn btn-link" href="@Url.Action("Index", "PortfolioPost")">Portfolio Post's</a>
                    @* <a class="nav-link" asp-controller="PortfolioPost" asp-action="Index">PortdolioPost</a> *@
                </li>
               @*  <li class="nav-item">
                    <a class="btn btn-link" href="@Url.Action("Index", "BlogPost")">Blog Post's</a>
                </li> *@
            </ul>
        </div>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


       @*  </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PersonalProjectCre8tfolio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
 *@


@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RockstarsIT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RockstarsIT.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="main-container">

        <div class="sidebar">
            <img src="~/pictures/RockstarLogo.png" alt="RockstarsIT Logo" class="sidebar-logo img-fluid mb-3" />
            @* <img src="~<img src=" ~ \OneDrive\Bureaublad\Group Project\RockstarLogo.png" alt="RockstarsIT Logo" class="sidebar-logo img-fluid mb-3" />" alt="RockstarsIT Logo" class="sidebar-logo img-fluid mb-3" /> *@
           
            @* <a class="sidebar-brand" asp-area="" asp-controller="Home" asp-action="Index">RockstarsIT</a> *@
           @* <ul class="sidebar-nav">
                <li class="nav-item">
                    <a class="btn btn-link" href="@Url.Action("Index", "Home")">HOME</a>
                    @* <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a> *@
               @* </li>
                <li class="nav-item">
                    <a class="btn btn-link" href="@Url.Action("Index", "Squad")">SQUADS</a>
                    @* <a class="nav-link" asp-controller="Squad" asp-action="Index">Squads</a> *@
                 @*</li>
                <li class="nav-item">
                    <a class="btn btn-link" href="@Url.Action("Index", "Survey")">SURVEYS</a>
                    @* <a class="nav-link" asp-controller="Survey" asp-action="Index">Enquête</a> *@
@* </li>
                <li class="nav-item">
                    <a class="btn btn-primary w-100 mb-2" asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
                    <a class="btn btn-primary w-100" asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </div>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - RockstarsIT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html> *@