@model PersonalProjectCre8tfolio.Models.PortfolioPost

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/BlogPost/BlogIndex.css" />
<h1>Details</h1>

<div class="details-container">
    <div class="inner-container">
        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <img src="@Model.ImagePath" alt="Portfolio Post Image" class="img-thumbnail" style="max-width: 100%; height:auto; margin-bottom: 20px;" />
        }
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
        </dl>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary btn-lg">Back to List</a>
</div>
